################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ares2D/v17
/Ares2D.sln
/Ares2D.vcxproj
/Ares2D.vcxproj.filters
/Ares2D.vcxproj.user
/x64
/Release
